<section class="page-header">

    {% include 'pages/page_header.html' %}
    
    <div class="page-teaser">  
      <h1>{{ page.title }}</h1>
      <h2>{{ page.seo_title }}</h2>
    </div>
  
</section>

<section class="quotes">

    <div class="row quotes-header">
      <div class="column twelve">
        <h4>Como a Xtech Commerce pode melhorar <strong><span class="rotate">sua conversão, seu marketing, sua loja</span></strong>?</h4>
      </div>
    </div>

    <div class="row">
        <div class="column twelve">

          {% for item in get_collection('testimonials') %}

            {% if loop.index % 2 == 0 %}

              <div class="clearfix quote-right quote">
                  <div class="quote-author">
                    {{ host_img(item['image:logo'], 'small', {'alt': item['text:alt']}) }}
                    <span class="quote-name">{{ item['text:title'] }}</span>
                    <span class="quote-position">{{ item['text:position'] }} <a href="{{ item['link:website']['url'] }}" target="_blank">{{ item['link:website']['text'] }}</a></span>
                  </div>
                    <div class="quote-text">
                      <p>{{ item['textarea:message'] }}</p>
                    </div>
              </div>
              
            {% else %}

              <div class="clearfix quote-left quote">
                    <div class="quote-text">
                      <p>{{ item['textarea:message'] }}</p>
                    </div>
                  <div class="quote-author">
                    {{ host_img(item['image:logo'], 'small', {'alt': item['text:alt']}) }}
                    <span class="quote-name">{{ item['text:title'] }}</span>
                    <span class="quote-position">{{ item['text:position'] }} <a href="{{ item['link:website']['url'] }}" target="_blank">{{ item['link:website']['text'] }}</a></span>
                  </div>
              </div>

            {% endif %}

          {% endfor %}

        </div>
    </div>
    

</section>